<div class="container profile">
	<div class="row-fluid">
		<% if @message %>
			<div class="span12 message message-confirm">
				<div class="message-inner">
					<%= @message %><span>&#x2716;</span>
				</div>
			</div>
		<% end %>
	</div>
	<div class="row-fluid">
		<div class="span12 page-header">
			<h1><%= @user.username %></h1>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span12 subhead">
			<h2>Personal Story</h2>
		</div>
	</div>
	<div class="row-fluid">
		<div class="span6 profile-left">
			<%= gravatar_image_tag(@user.email, :alt => "#{@user.first_name} #{@user.last_name}", :class => 'profile-avatar', :gravatar => { :size => 150 }) %>
			<h3>Biography</h3>
			<p>
				<%= @user.bio %>
			</p>
		</div>
		<div class="span6 profile-right">
			<h3>Connect</h3>
		</div>
	</div>

</div>