<div class="wrapper">
	<div class="info-wrapper">
		<p>Share the resources that helped you master your craft, vote up others' shares, and learn something new!</p>
		<a href="#" class="button sign-up">Sign Up Free!</a>
	</div>
	<section class="top-search">
		<span></span>
		<form action="#" method="#">
			<input type="text" class="home-search" placeholder="What Do You Want to Learn?">
			<button class="button">Search!</button>
		</form>
	</section>
	<section class="top-wrapper">
		<div class="top-left">
			<h3>Top Mages</h3>
			<div class="top-item-container">
				<div class="top-item">
					<div class="top-item-number">
						<span>1</span>
					</div>
					<img src="/assets/travis.jpg">
					<div class="top-item-info">
						<h4>tbloncar</h4>
						<span class="upvotes">20 upvotes</span>
					</div>
					<span class="add-user"></span>
				</div>
				<div class="top-item">
					<div class="top-item-number">
						<span>2</span>
					</div>
					<img src="/assets/fernando.jpg">
					<div class="top-item-info">
						<h4>fernando</h4>
						<span class="upvotes">18 upvotes</span>
					</div>
					<span class="add-user"></span>
				</div>
				<div class="top-item">
					<div class="top-item-number">
						<span>3</span>
					</div>
					<img src="/assets/creighton.jpg">
					<div class="top-item-info">
						<h4>creighton</h4>
						<span class="upvotes">17 upvotes</span>
					</div>
					<span class="add-user"></span>
				</div>
			</div>
		</div>
		<div class="top-middle">
			<h3>Top Crafts</h3>
			<div class="top-item-container">
				<div class="top-item">
					<div class="top-item-number">
						<span>1</span>
					</div>
					<img src="/assets/rails.png">
					<div class="top-item-info">
						<h4>Ruby on Rails</h4>
						<span class="upvotes">1123 upvotes</span>
					</div>
					<span class="add-user"></span>
				</div>
				<div class="top-item">
					<div class="top-item-number">
						<span>2</span>
					</div>
					<img src="/assets/entrepreneur.jpg">
					<div class="top-item-info">
						<h4>Entrepreneurship</h4>
						<span class="upvotes">314 upvotes</span>
					</div>
					<span class="add-user"></span>
				</div>
				<div class="top-item">
					<div class="top-item-number">
						<span>3</span>
					</div>
					<img src="/assets/scuba.jpg">
					<div class="top-item-info">
						<h4>Scuba Diving</h4>
						<span class="upvotes">200 upvotes</span>
					</div>
					<span class="add-user"></span>
				</div>
			</div>
		</div>
		<div class="top-right">
			<h3>Top Resources</h3>
			<div class="top-item-container">
				<div class="top-item">
					<div class="top-item-number">
						<span>1</span>
					</div>
					<img src="/assets/learn_to_program.jpg">
					<div class="top-item-info">
						<h4>Learn to Program</h4>
						<span class="author">Chris Pine</span>
						<span class="upvotes">101</span>
					</div>
					<span class="add-user"></span>
				</div>
				<div class="top-item">
					<div class="top-item-number">
						<span>2</span>
					</div>
					<img src="/assets/chess.jpg">
					<div class="top-item-info">
						<h4>Chess for Dummies</h4>
						<span class="author">James Eade</span>
						<span class="upvotes">91</span>
					</div>
					<span class="add-user"></span>
				</div>
				<div class="top-item">
					<div class="top-item-number">
						<span>3</span>
					</div>
					<img src="/assets/eloquent.jpg">
					<div class="top-item-info">
						<h4>Eloquent JavaScript</h4>
						<span class="author">Marijn Haverbeke</span>
						<span class="upvotes">83</span>
					</div>
					<span class="add-user"></span>
				</div>
			</div>
		</div>
	</section>
</div>

