<span class="recommend-button">
  <% if @recommended.empty? && signed_in? %>
    <%= form_for @upvotable, :url => upvotes_resource_url(@resource.id), remote: true do |f| %>
      <%= f.submit "Recommend", :class => "resource-upvote entypo-thumbs-up active nav-link link-gold" %>
    <% end %>
  <% elsif signed_in? %>
    <span class="recommended">You recommend this resource.</span>
  <% else %>
    <span class="recommended">Sign in to recommend this resource.</span>
  <% end %>
</span>