<span class="recommend-button">
  <% if @recommended.empty? && signed_in? %>
    <%= form_for @upvotable, :url => upvotes_bundle_url(@bundle.id), remote: true do |f| %>
      <%= f.submit "Recommend", :class => "resource-upvote nav-link link-gold" %>
    <% end %>
  <% elsif signed_in? %>
    <span class="recommended">You recommend this bundle.</span>
  <% else %>
    <span class="recommended">Sign in to recommend this bundle.</span>
  <% end %>
</span>