<div class="row-fluid">
  <div class="span12 page-header">
    <h1><%= @bundle.name %></h1>
    <p><%= @bundle.description %></p>
  </div>
</div>
<div class="row-fluid">
  <div class="span6">
    <% @bundle.resources.each do |resource| %>
      <div class="bundle-show-resource">
        <h3><%= resource.name %></h3>
        <p><%= resource.description %></p>
      </div>
    <% end %>
  </div>
  <div class="span6">

  </div>
</div>