// Variables            <<
// -----------------------

$lightPurple: #EAEAFF;
$lightishPurple: #CFD0FE;
$mediumPurple: #A6ABFF;
$darkishPurple: #8594FF;
$darkPurple: #6E7EFF;
$greenThing: #B4EEB4;
$honeyDew: #E0EEE0;
$lightGold: #fccd4d;
$darkGold: #f8b500;
$alertRed: #FF6A6A;


// Mixins               <<
// -----------------------

@mixin rounded($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin glare($x, $y, $blur, $color, $x1, $y1, $blur1, $color1) {
	-webkit-box-shadow: $x $y $blur $color,
		  inset $x1 $y1 $blur1 $color1;
	-moz-box-shadow: $x $y $blur $color,
		  inset $x1 $y1 $blur1 $color1;
	-ms-box-shadow: $x $y $blur $color,
		  inset $x1 $y1 $blur1 $color1;
	-o-box-shadow: $x $y $blur $color,
		  inset $x1 $y1 $blur1 $color1;
	box-shadow: $x $y $blur $color,
		  inset $x1 $y1 $blur1 $color1;
}

@mixin shadow($x, $y, $blur, $color) {
	-webkit-box-shadow: $x $y $blur $color;
	-moz-box-shadow: $x $y $blur $color;
	-ms-box-shadow: $x $y $blur $color;
	-o-box-shadow: $x $y $blur $color;
	box-shadow: $x $y $blur $color;
}

@mixin transition($element, $duration, $animation) {
	-webkit-transition: $element $duration $animation;
	-moz-transition: $element $duration $animation;
	-o-transition: $element $duration $animation;
	-ms-transition: $element $duration $animation;
	transition: $element $duration $animation;
}

@mixin box-sizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin gold-bg {
	background: #fccd4d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjY2Q0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZjY2Q0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y4YjUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGI1MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fccd4d 0%, #fccd4d 50%, #f8b500 51%, #f8b500 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fccd4d), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#f8b500)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fccd4d 0%,#fccd4d 50%,#f8b500 51%,#f8b500 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fccd4d 0%,#fccd4d 50%,#f8b500 51%,#f8b500 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fccd4d 0%,#fccd4d 50%,#f8b500 51%,#f8b500 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fccd4d 0%,#fccd4d 50%,#f8b500 51%,#f8b500 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccd4d', endColorstr='#f8b500',GradientType=0 ); /* IE6-8 */
}



// SCSS                 <<
// -----------------------

// Header ------------- <<


html {
	overflow-y: scroll;
}

body {
	background: $lightPurple;
}

.container {

}

.white-container {
	padding: 15px;
	background: #fff;
	border: 1px solid #ccc;
	overflow: auto;
	h3 {
		font-size: 18px;
		margin-top: 0;
		line-height: 18px;
	}
	p {
		margin-bottom: 10px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.page-header {
	padding: 10px 0 15px 0;
	border-bottom: 1px dotted #ccc;
	h1 {
		font-size: 22px;
		text-shadow: 0 1px 0 #fff;
	}
	img {
		height: 100px;
		width: 100px;
		border: 1px solid #333;
		margin-right: 15px;
		float: left;
		background: #fff;
	}
	.breadcrumbs {
		a {
			color: #333;
			text-decoration: underline;
		}
	}
}

.no {
	display: none !important;
}

.message {
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	margin: 20px 0 0 0;
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	@include rounded(2px);
	span {
		float: right;
		display: inline-block;
		&:hover {
			cursor: pointer;
			text-shadow: 0 -1px 25px rgba(0,0,0,0.8);
		}
	}

}

.message-inner {
	padding: 10px;
	border: 1px dotted #FFF;
}

.message-error {
	background-color: #FF6A6A;
	border-color: #777;
}

.message-success {
	background-color: #93DB70;
	border-color: #777;
}

.subhead {
	margin-top: 30px;
	padding-top: 15px;
	border-top: 1px dotted #ccc;
	h2 {
		margin: 10px 0;
		font-size: 18px;
		&:first-of-type {
			margin-top: 0;
		}
		span {
			color: #888;
			font-style: italic;
			font-weight: 100;
		}
	}
}


header {
	background: #222;
	height: 80px;
	border-top: 2px solid $darkGold;
	position: fixed;
	z-index: 2001 !important;
	.logo {
		font-family: 'Arbutus Slab', serif;
		font-size: 24px;
		color: #efefef;
		margin-top: 25px;
		display: block;
		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}
	.search-header {
		margin-top: -25px;
		input {
			background: #f1f1f1 url('/assets/search.png') no-repeat 3% 50%;
			padding: 6px 6px 6px 28px;
			font-size: 12px;
			@include rounded(2px);
			border: 2px solid #aaa;
			margin: 0 0 0 15px;
			@include transition(all, 0.2s, ease-in-out);
			&:focus {
				background-color: #fff;
				outline: none !important;
				border: 2px solid $darkGold;
			}
		}
	}
}

.nav-link {
		display: inline-block;
		color: #fff;
		margin-top: -24px;
		font-size: 12px;
		padding: 6px 20px;
		border-width: 1px;
		border-style: solid;
		text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
		@include rounded(2px);
		@include glare(0,0,0,rgba(0,0,0,0),0,1px,0,rgba(255,255,255,0.4));
		&:first-of-type {
			margin-left: 10px;
		}
		&:hover {
			text-decoration: none;
			text-shadow: 0 0 20px rgba(0,0,0,0.4);
			color: #fff;
		}
	}


.link-purple {
	background: #a6abff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E2YWJmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4NTk0ZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #a6abff 0%, #8594ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a6abff), color-stop(100%,#8594ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #a6abff 0%,#8594ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #a6abff 0%,#8594ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #a6abff 0%,#8594ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #a6abff 0%,#8594ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6abff', endColorstr='#8594ff',GradientType=0 ); /* IE6-8 */
	border-color: $darkPurple;
}
.link-gold {
	background: #fccd4d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjY2Q0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGI1MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fccd4d 0%, #f8b500 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fccd4d), color-stop(100%,#f8b500)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fccd4d 0%,#f8b500 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fccd4d 0%,#f8b500 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fccd4d 0%,#f8b500 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fccd4d 0%,#f8b500 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccd4d', endColorstr='#f8b500',GradientType=0 ); /* IE6-8 */
	border-color: $darkGold;
}

.link-black {
	background: #34383a; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM0MzgzYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxNjE2MTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #34383a 0%, #161616 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#34383a), color-stop(100%,#161616)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #34383a 0%,#161616 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #34383a 0%,#161616 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #34383a 0%,#161616 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #34383a 0%,#161616 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34383a', endColorstr='#161616',GradientType=0 ); /* IE6-8 */
	border-color: #333;
}

.link-red {
	background: #ff3030; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjQwNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ff3030 0%, #ff4040 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3030), color-stop(100%,#ff4040)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3030 0%,#ff4040 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3030 0%,#ff4040 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3030 0%,#ff4040 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3030 0%,#ff4040 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3030', endColorstr='#ff4040',GradientType=0 ); /* IE6-8 */
	border-color: #FF4040;
}


// Error Messages ----------- <<

.error-messages {

}



// Home Content ------------- <<


.home-top {
	margin: 20px 0;
	h1 {
		font-size: 24px;
		// font-family: 'Parisienne', sans-serif;
		margin-bottom: 20px;
	}
}


.home-resource {
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	color: #222;
	&:hover {
		text-decoration: none;
		border: 1px solid #bbb;
	}
}


.home-resource:nth-of-type(odd) {
	&:hover {
		.home-resource-inner {
			border-color: #66CD00;
			color: #222;
		}
	}
	.home-resource-inner {
		border-top: 5px solid $darkPurple;
	}
}

.home-resource:nth-of-type(even) {
	&:hover {
		.home-resource-inner {
			border-color: #66CD00;
			color: #222;
		}
	}
	.home-resource-inner {
		border-top: 5px solid $darkGold;
	}
}

.home-resource-inner h3 {
	font-size: 14px;

	margin-top: 10px;
	line-height: 16px;
	font-weight: 600;
}

.home-resource-inner h4 {
	font-size: 10px;
	margin-top: 0;
	line-height: 16px;
	font-weight: 500;
	background: #efefef;
	border: 1px solid #eee;
	padding-left: 3px;
font-family: 'Open Sans', sans-serif;
}

.home-resource-image {
	height: 150px;
	width: 100%;
	border: 1px solid #444;
	margin-bottom: 10px;
	z-index: 1;
}

.home-resource-description {
	font-size: 10px;
	color: #888;
	margin-bottom: 0;
}

// Profile Page ------------- <<


.profile-left {
	background: #fff;
	border: 1px solid #ccc;
	overflow: auto;
}

.profile-left img {
	float: left;
	margin-right: 10px;
}

.profile h3 {
	font-size: 16px;
	margin: 0 0 5px 0;
}

.edit-profile {
	float: right;
	color: #222;
	display: inline-block;
	margin-top: 15px;
	background: url('/assets/edit.png') no-repeat;
	padding-left: 23px;
	&:hover {
		text-decoration: underline;
		color: #222;
	}
}

.profile-left p, .profile-right p {
	margin: 5px 0;
}

.profile-right {
	background: #fff;
	border: 1px solid #ccc;
	overflow: auto;
	padding-left: 10px;
}

.user-stuff-container {
	margin-top: 15px;
	padding-top: 15px;
	border-top: 1px dotted #ddd;
}

.user-stuff-image {
	border: 1px solid #555;
	float: left;
	margin-right: 15px;
	margin-bottom: 15px;
	&:hover {
		cursor: pointer;
		border: 1px solid #333;
	}
	&:nth-child(4n) {
		margin-right: 0;
	}
	img {
		height: 70px;
		width: 70px;
	}
}


// Forms --------------------- <<


.form-container {
	padding: 15px;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

form .form-text-input {
	font-size: 12px;
	border: 2px solid #bbb;
	background: #f9f9f9;
	@include rounded(0);
	@include shadow(0,0,0,rgba(0,0,0,0));
	&:focus {
		background: #fff;
		border-color: $darkGold;
		@include shadow(0,0,0,rgba(0,0,0,0));
	}
}

form input:focus:required {
	border-color: $darkGold;
	box-shadow: none !important;
}

input#delete:focus {
	border-color: #FF4040 !important;
}


form .form-button {
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
	border-width: 1px;
	border-style: solid;
	padding: 10px 25px;
}

form .form-button:disabled {
	opacity: 0.4;
}

form .form-help {
	background: $lightPurple;
	display: inline-block;
	margin: 0 0 0 10px;
	position: relative;
	top: -2px;
	padding: 3px 15px;
	border: 2px solid $darkPurple;
	font-size: 12px;
	@include rounded(20px);
}


// Crafts --------------------- <<

.header-image {
	float: left;
	width: 150px;
	background: #fff;
}

.craft-resource {
	display: block;
	height: 100px;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	border-right: 5px solid #ddd;
	border-left: 1px solid #ddd;
	background-clip: content-box;
	color: #333;
	&:hover {
		cursor: pointer;
		text-decoration: none;
		border-color: #bbb;
		border-right: 5px solid $darkGold;
		color: #333;
	}
	&:first-of-type {
		border-top: 1px solid #ddd;
		margin-top: 20px;
	}
	.craft-resource-number {
		float: left;
		font-size: 20px;
		padding: 40px 20px;

	}
	.craft-resource-image {
		float: left;
		margin-right: 10px;
		img {
			height: 100px;
			width: 100px;
			border: 1px solid #555;
		}
	}
	.craft-resource-content {
		h4 {
			margin-top: 0;
			font-size: 16px;
		}
	}
}


// Resources --------------------- <<

.contributed-by {
	font-size: 12px;
	padding-top: 10px;
	span {
		display: inline-block;
		float: left;
		a {
			color: #222;
			padding-right: 17px;
			position: relative;
			z-index: 2;
		}
	}
	img {
		height: 18px;
		width: 18px;
		display: inline-block;
		margin-left: -15px;
		position: relative;
		z-index: 1;
		border: none;
		border: 1px solid #999;
		@include rounded(10px);
	}
}


.resource-title {
	margin: 0 0 5px 0;
}

.resource-controls {
	margin-bottom: 20px;
	margin-top: -10px;
}

.resource-upvote {
	display: inline-block;
	margin-left: 0 !important;
	padding: 7px 20px;
	color: #fff;
	font-size: 12px;
	&:first-of-type {
		margin-right: 10px;
	}
	&:hover {

	}
}

.recommended {
	color: #888;
	text-shadow: 0 1px 0 #fff;
	margin-right: 10px;
}

.resource-left {
	
}

.type-level {
	float: right;
	margin-top: -33px;
	span {
		display: inline-block;
		padding: 3px 15px;
		background: $lightGold;
		border: 1px solid $darkGold;
		margin-right: 10px;
		font-size: 12px;
		color: #fff;
		text-shadow: 0 -1px 2px rgba(0,0,0,0.15);
		@include rounded(18px);
		&:last-of-type {
			margin-right: 0;
		}
	}
}

.resource-avatar-input {
	line-height: 16px !important;
	margin: 10px 0 5px 0;
}

.form-container .form-input textarea.resource-text-area {
	&:focus {
		border-color: $darkGold;
		box-shadow: none;
	}
}

.upvoted-by {
	margin-top: 20px;
	a:hover {
		text-decoration: none;
	}
}

.user-avatar-image {
	height: 70px;
	width: 70px;
	border: 1px solid #555;
	float: left;
	margin-right: 15px;
	&:hover {
		cursor: pointer;
		border: 1px solid #333;
	}
}

// Search Results ------------------ <<


.search-result {
	display: block;
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	border-right: 5px solid #66CD00;
	width: 49%;
	float: left;
	margin-right: 2%;
	margin-bottom: 15px;
	&:nth-of-type(even) {
		margin-right: 0;
	}
	@include box-sizing;
	&:hover {
		cursor: pointer;
		border-color: #bbb;
		text-decoration: none;
		border-right: 5px solid $darkGold;
		.search-thumbnail {
			opacity: 1.0;
		}
	}
	.search-thumbnail {
		width: 100px;
		height: 100px;
		float: left;
		margin-right: 10px;
		opacity: 0.9;
		border: 1px solid #bbb;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.search-content {
		height: 100%;
	 	color: #333;
		h2 {
			font-size: 16px;
			line-height: 18px;
			margin-top: 0;
			margin-bottom: 5px;
			span {
				color: #555;
				font-weight: 200;
			}
		}
		p {
			margin-top: 5px;
			font-size: 12px;
		}
	}
}

.search-group-title h2 {
	font-size: 18px;
}

.type-level-search {
	span {
		display: inline-block;
		font-family: 'Open Sans', sans-serif;
		font-size: 10px;
		background: #eee;
		padding: 0 5px;
	}
}


// Logged-In --------------------- <<


.profile-link {
	display: inline-block;
	margin-top: -25px;
	margin-right: 5px;
	padding: 0px;
	border: 2px solid #444;
	opacity: 0.9;
	@include shadow(0,0,2px,rgba(255,255,255,0.5));
	@include rounded(2px);
	&:hover {
		background: #777;
		opacity: 1;
	}
	img {
		height: 30px;
		width: 30px;
		border: 1px solid #777;
	}
}

.fixed-container {
	position: fixed;
  width: 500px;
  height: 150px;
  z-index: 2;
  left: 50%;
  top: 0%;
  margin-left: 85px; /*half the width*/
}

.user-panel {
	width: 400px;
	height: 70px;
	background: #ffffff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */
	position: fixed;
	top: 80px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	border: 1px solid #ccc;
	padding: 20px 10px;
	z-index: 2000;
	@include box-sizing;
	@include shadow(0,1px,3px,rgba(0,0,0,0.07));
	a.nav-link {
		float: left;
		margin-top: -5px;
		margin-right: 10px;
	}
}

.user-panel-resources {
	margin-top: -4px;
	float: left;	
	img {
		height: 30px;
		width: 30px;
		margin-right: 5px;
		border: 1px solid #444;
		opacity: 0.9;
	}
	a {
		&:hover {
			text-decoration: none;
			img {
				border: 1px solid #222;
				opacity: 1;
			}
		}
	}
}


// Footer --------------------- <<


footer {
	margin: 35px 0 70px 0;
	padding: 15px 0;
	border-top: 1px dotted #ccc;
	font-size: 12px;
}





