// Variables            <<
// -----------------------

$lightPurple: #EAEAFF;
$lightishPurple: #CFD0FE;
$mediumPurple: #A6ABFF;
$darkishPurple: #8594FF;
$darkPurple: #6E7EFF;
$greenThing: #B4EEB4;
$honeyDew: #E0EEE0;
$lightGold: #fccd4d;
$darkGold: #f8b500;
$alertRed: #FF6A6A;


// Mixins               <<
// -----------------------


@mixin rounded($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-ms-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin glare($x, $y, $blur, $color, $x1, $y1, $blur1, $color1) {
	-webkit-box-shadow: $x $y $blur $color,
		  inset $x1 $y1 $blur1 $color1;
	-moz-box-shadow: $x $y $blur $color,
		  inset $x1 $y1 $blur1 $color1;
	-ms-box-shadow: $x $y $blur $color,
		  inset $x1 $y1 $blur1 $color1;
	-o-box-shadow: $x $y $blur $color,
		  inset $x1 $y1 $blur1 $color1;
	box-shadow: $x $y $blur $color,
		  inset $x1 $y1 $blur1 $color1;
}

@mixin shadow($x, $y, $blur, $color) {
	-webkit-box-shadow: $x $y $blur $color;
	-moz-box-shadow: $x $y $blur $color;
	-ms-box-shadow: $x $y $blur $color;
	-o-box-shadow: $x $y $blur $color;
	box-shadow: $x $y $blur $color;
}

@mixin transition($element, $duration, $animation) {
	-webkit-transition: $element $duration $animation;
	-moz-transition: $element $duration $animation;
	-o-transition: $element $duration $animation;
	-ms-transition: $element $duration $animation;
	transition: $element $duration $animation;
}

@mixin box-sizing {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

@mixin gold-bg {
	background: #fccd4d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjY2Q0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iI2ZjY2Q0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iI2Y4YjUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGI1MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fccd4d 0%, #fccd4d 50%, #f8b500 51%, #f8b500 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fccd4d), color-stop(50%,#fccd4d), color-stop(51%,#f8b500), color-stop(100%,#f8b500)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fccd4d 0%,#fccd4d 50%,#f8b500 51%,#f8b500 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fccd4d 0%,#fccd4d 50%,#f8b500 51%,#f8b500 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fccd4d 0%,#fccd4d 50%,#f8b500 51%,#f8b500 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fccd4d 0%,#fccd4d 50%,#f8b500 51%,#f8b500 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccd4d', endColorstr='#f8b500',GradientType=0 ); /* IE6-8 */
}



// SCSS                 <<
// -----------------------

// Header ------------- <<


html {
	overflow-y: scroll;
}

body {
	background: $lightPurple;
}

.white-container {
	padding: 15px;
	background: #fff;
	border: 1px solid #ccc;
	h3 {
		font-size: 18px;
		margin-top: 0;
		line-height: 18px;
	}
	p {
		margin-bottom: 0;
	}
}

.page-header {
	padding: 10px 0 15px 0;
	border-bottom: 1px dotted #ccc;
	h1 {
		font-size: 22px;
	}
	img {
		height: 100px;
		width: 100px;
		border: 1px solid #333;
		margin-right: 15px;
		float: left;
		background: #fff;
	}
	.breadcrumbs {
		a {
			color: #333;
			text-decoration: underline;
		}
	}
}

.no {
	display: none !important;
}

.message {
	padding: 2px;
	border-width: 1px;
	border-style: solid;
	margin: 20px 0 0 0;
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	@include rounded(2px);
	span {
		float: right;
		display: inline-block;
		&:hover {
			cursor: pointer;
			text-shadow: 0 -1px 25px rgba(0,0,0,0.8);
		}
	}

}

.message-inner {
	padding: 10px;
	border: 1px dotted #FFF;
}

.message-alert {
	background-color: #FF6A6A;
	border-color: #777;
}

.message-confirm {
	background-color: #93DB70;
	border-color: #777;
}

.subhead {
	margin-top: 30px;
	padding-top: 15px;
	border-top: 1px dotted #ccc;
	h2 {
		margin: 10px 0;
		font-size: 18px;
		&:first-of-type {
			margin-top: 0;
		}
		span {
			color: #888;
			font-style: italic;
			font-weight: 100;
		}
	}
}


header {
	background: #222;
	height: 80px;
	border-top: 2px solid $darkGold;
	.logo {
		font-family: 'Arbutus Slab', serif;
		font-size: 24px;
		color: #efefef;
		margin-top: 25px;
		display: block;
		&:hover {
			text-decoration: none;
			cursor: pointer;
		}
	}
	.search-header {
		margin-top: -25px;
		input {
			background: #f1f1f1 url('/assets/search.png') no-repeat 3% 50%;
			padding: 6px 6px 6px 28px;
			font-size: 12px;
			@include rounded(2px);
			border: 2px solid #aaa;
			margin: 0 0 0 15px;
			@include transition(all, 0.2s, ease-in-out);
			&:focus {
				background-color: #fff;
				outline: none !important;
				border: 2px solid $darkGold;
			}
		}
	}
	.nav-link {
		display: inline-block;
		color: #fff;
		margin-top: -24px;
		font-size: 12px;
		padding: 6px 20px;
		border-width: 1px;
		border-style: solid;
		text-shadow: 0 -1px 1px rgba(0,0,0,0.2);
		@include rounded(2px);
		@include glare(0,0,0,rgba(0,0,0,0),0,1px,0,rgba(255,255,255,0.4));
		&:first-of-type {
			margin-left: 10px;
		}
		&:hover {
			text-decoration: none;
			text-shadow: 0 0 20px rgba(0,0,0,0.4);
		}
	}
}


.link-purple {
	background: #8594ff; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1OTRmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM1ZTcxZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #8594ff 0%, #5e71ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8594ff), color-stop(100%,#5e71ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #8594ff 0%,#5e71ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #8594ff 0%,#5e71ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #8594ff 0%,#5e71ff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #8594ff 0%,#5e71ff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8594ff', endColorstr='#5e71ff',GradientType=0 ); /* IE6-8 */
	border-color: $darkPurple;
}
.link-gold {
	background: #fccd4d; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjY2Q0ZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGI1MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #fccd4d 0%, #f8b500 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fccd4d), color-stop(100%,#f8b500)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fccd4d 0%,#f8b500 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fccd4d 0%,#f8b500 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fccd4d 0%,#f8b500 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fccd4d 0%,#f8b500 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fccd4d', endColorstr='#f8b500',GradientType=0 ); /* IE6-8 */
	border-color: $darkGold;
}

.link-red {
	background: #ff3030; /* Old browsers */
	/* IE9 SVG, needs conditional override of 'filter' to 'none' */
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzAzMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZjQwNDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  #ff3030 0%, #ff4040 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3030), color-stop(100%,#ff4040)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3030 0%,#ff4040 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3030 0%,#ff4040 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3030 0%,#ff4040 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3030 0%,#ff4040 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3030', endColorstr='#ff4040',GradientType=0 ); /* IE6-8 */
	border-color: #FF4040;
}



// Home Content ------------- <<


.top-search {
	margin: 15px 0 30px 0;
	padding: 20px 0;
	border-bottom: 1px dotted #bbb;
	.search-icon {
		display: block;
		background: #fafafa url('/assets/big-search.png') no-repeat 50% 50%;
		width: 40px;
		height: 40px;
		margin: 0px 12px 0 0;
		float: left;
		@include shadow(0,0,2px,rgba(0,0,0,0.7));
		@include rounded(21px);
	}
	.top-search-bar {
		width: 65%;
		padding: 10px;
		margin: 0 15px 0 0;
		border: 2px solid #ddd;
		@include shadow(0,0,1px,rgba(0,0,0,0.8));
		&:focus {
			outline: none;
			border-color: $darkPurple;
			box-shadow: none;
		}
	}
	.top-search-button {
		padding: 9px 0;
		width: 15%;
		border: 1px solid $darkGold;
		color: #fff;
		border-width: 1px 1px 3px 1px;
		text-shadow: 0 -1px 1px rgba(0,0,0,0.5);
		@include rounded(2px);
		@include glare(0,0,0,rgba(0,0,0,0),0,1px,0,rgba(255,255,255,0.4));
	}
}


.home-resource {
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	color: #222;
	&:hover {
		text-decoration: none;
		border: 1px solid #bbb;
	}
}


.home-resource:nth-of-type(odd) {
	&:hover {
		.home-resource-inner {
			border-color: #66CD00;
			color: #222;
		}
	}
	.home-resource-inner {
		border-top: 5px solid $darkPurple;
	}
}

.home-resource:nth-of-type(even) {
	&:hover {
		.home-resource-inner {
			border-color: #66CD00;
			color: #222;
		}
	}
	.home-resource-inner {
		border-top: 5px solid $darkGold;
	}
}

.home-resource-inner h3 {
	font-size: 16px;
	margin-top: 10px;
	line-height: 16px;
}

.home-resource-inner h4 {
	font-size: 14px;
	margin-top: 0;
	line-height: 16px;
	font-weight: 300;
}

.home-resource-image {
	height: 250px;
	width: 100%;
	border: 1px solid #CCC;
	margin-bottom: 10px;
	position: relative;
}

.home-resource-description {
	font-size: 12px;
	color: #888;
}

// Profile Page ------------- <<


.profile-left {
	background: #fff;
	border: 1px solid #ccc;
	overflow: auto;
}

.profile-left img {
	float: left;
	margin-right: 10px;
}

.profile h3 {
	font-size: 16px;
	margin: 0 0 5px 0;
}

.profile-left p, .profile-right p {
	margin: 5px 0;
}

.profile-right {
	background: #fff;
	border: 1px solid #ccc;
	overflow: auto;
	padding-left: 10px;
}


// Forms --------------------- <<


.form-container {
	padding: 15px;
	background: #fff;
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

form .form-text-input {
	font-size: 12px;
	border: 2px solid #bbb;
	background: #f9f9f9;
	@include rounded(0);
	@include shadow(0,0,0,rgba(0,0,0,0));
	&:focus {
		background: #fff;
		border-color: $darkGold;
		@include shadow(0,0,0,rgba(0,0,0,0));
	}
}

form input:focus:required {
	border-color: $darkGold !important;
	box-shadow: none !important;
}

input#delete:focus {
	border-color: #FF4040 !important;
}


form .form-button {
	color: #fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.3);
	border-width: 1px;
	border-style: solid;
	padding: 10px 25px;
}

form .form-button:disabled {
	opacity: 0.4;
}

form .form-help {
	background: $lightPurple;
	display: inline-block;
	margin: 0 0 0 10px;
	position: relative;
	top: -2px;
	padding: 3px 15px;
	border: 2px solid $darkPurple;
	font-size: 12px;
	@include rounded(20px);
}


// Crafts --------------------- <<

.header-image {
	float: left;
	width: 150px;
	background: #fff;
}

.craft-resource {
	display: block;
	height: 100px;
	padding: 10px;
	border-bottom: 1px solid #ddd;
	border-right: 5px solid #ddd;
	border-left: 1px solid #ddd;
	background-clip: content-box;
	color: #333;
	&:hover {
		cursor: pointer;
		text-decoration: none;
		border-color: #bbb;
		border-right: 5px solid $darkGold;
		color: #333;
	}
	&:first-of-type {
		border-top: 1px solid #ddd;
		margin-top: 20px;
	}
	.craft-resource-number {
		float: left;
		font-size: 20px;
		padding: 40px 20px;

	}
	.craft-resource-image {
		float: left;
		margin-right: 10px;
		img {
			height: 100px;
			width: 100px;
			border: 1px solid #555;
		}
	}
	.craft-resource-content {
		h4 {
			margin-top: 0;
			font-size: 16px;
		}
	}
}


// Resources --------------------- <<


.resource-title {
	margin: 0 0 5px 0;
}

.resource-left {
	
}

.resource-avatar-input {
	line-height: 16px !important;
	margin: 10px 0 5px 0;
}

.form-container .form-input textarea.resource-text-area {
	&:focus {
		border-color: $darkGold;
		box-shadow: none;
	}
}


// Search Results ------------------ <<


.search-result {
	display: block;
	background: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	border-right: 5px solid #66CD00;
	width: 49%;
	float: left;
	margin-right: 2%;
	margin-bottom: 15px;
	&:nth-of-type(even) {
		margin-right: 0;
	}
	@include box-sizing;
	&:hover {
		cursor: pointer;
		border-color: #bbb;
		text-decoration: none;
		border-right: 5px solid $darkGold;
		.search-thumbnail {
			opacity: 1.0;
		}
	}
	.search-thumbnail {
		width: 100px;
		height: 100px;
		float: left;
		margin-right: 10px;
		opacity: 0.85;
		border: 1px solid #bbb;
		img {
			height: 100%;
			width: 100%;
		}
	}
	.search-content {
		height: 100%;
	 	color: #333;
		h2 {
			font-size: 18px;
			line-height: 18px;
			margin-top: 0;
			span {
				color: #555;
				font-weight: 200;
			}
		}
	}
}



// Footer --------------------- <<


footer {
	margin-top: 35px;
	padding: 15px 0;
	border-top: 1px dotted #ccc;
	font-size: 12px;
}





